/*-------------------------------tosty alerts styles-------------------------------*/

#toasty .toast .toast-text {
  padding-left: 20px;
  padding-right: 25px;
}

#toasty .toast {
  background-image: none !important;
}

.toast {
  border: 1px solid transparent;
}

.toasty-type-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.toasty-type-info,
.toasty-type-wait {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.toasty-type-error {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.toasty-type-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}
#toasty .toast .close-button {
    background: rgba(0,0,0,.5) url(../images/icon-x-white-bold.svg) no-repeat center 45%;
    width: 18px;
    height: 18px;
    background-size: 10px 10px;
    border-radius: 50px;
    right: 3px;
  }

/*-------------------------------tosty alers styles END-------------------------------*/
