// define global color
$bg-black      : #292929;
$bg-darkblack  : #070707;
$bg-red        : #ed1233;
$bg-darkred    : #d3112f;
$bg-gold       : #f0ac14;
$bg-white      : #fff;
$bg-light-gray : #f5f5f5;
  $bg-mid-gray : #768692;
$bg-royal-blue : #1c6ef7;


$color-black      : #292929;
$color-darkblack  : #070707;
$color-red        : #ed1233;
$color-darkred    : #d3112f;
$color-gold       : #f0ac14;
$color-white      : #fff;
$color-mid-gray   : #768692;
$color-royal-blue : #1c6ef7;


 // define font variable
$f-Poppins: Poppins, sans-serif;

$f-light    : 300;
$f-regular  : 400;
$f-medium   : 500;
$f-semibold : 600;
    $f-bold : 700;

.f-light    {font-weight:$f-light;}
.f-regular  {font-weight:$f-regular;}
.f-medium   {font-weight:$f-medium;}
.f-semibold {font-weight:$f-semibold;}
    .f-bold {font-weight:$f-bold;}

//define font size
.f-13 {font-size:13px;}
.f-14 {font-size:14px;}
.f-15 {font-size:15px;}
.f-16 {font-size:16px;}

 // define border-radius
  $br-4 : 4px;
  $br-6 : 6px;
  $br-8 : 8px;
 $br-10 : 6px;

.br-4 {border-radius:$br-4}
.br-6 {border-radius:$br-6}
  
// define padding
 $p-20 : 20px;
 $p-40 : 40px;
 $p-60 : 60px;
 $p-80 : 80px;


// define margin
.mt-10 {margin-top:10px;}
.mt-15 {margin-top:15px;}
.mt-20 {margin-top:20px;}
.mt-30 {margin-top:30px;}
.mt-40 {margin-top:40px;}
.mt-50 {margin-top:50px;}


.border-secondary {
    border-color: #dfdfdf!important;
}


html {
   -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
}


 // button default overridde
 a{
  cursor:pointer;
  color: $color-red;
  &:hover {
  color: $color-darkred;
  text-decoration:none;
  }
  &:active {
  color: $color-darkred;
  }
  &:focus {
  color: $color-darkred;
  }
 }

input::-ms-clear {
    display: none;
}

button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
}

form:focus,
button:focus,
.btn.focus, 
.btn:focus{
  outline:0;
   box-shadow:none;
}

[dropdowntoggle]{
cursor:pointer;
}

textarea, 
input, 
button { outline: none; }
ul {margin:0; padding:0;}
ul li {list-style-type:none;}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  background-color: $bg-red;
  border-color: $bg-red;
}

.btn-primary.disabled,
.btn-primary:disabled {
  &:hover {
    background-color: $bg-red;
    border-color: $bg-red;
    cursor: not-allowed;
  }
}

.btn-primary.disabled,
.btn-primary:disabled,
.btn-secondary.disabled,
.btn-secondary:disabled,
.btn-outline-primary.disabled, 
.btn-outline-primary:disabled,
.btn-outline-secondary.disabled, 
.btn-outline-secondary:disabled {
    opacity:.4;
    pointer-events:none;
    cursor:not-allowed;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
	    background-color: $bg-darkred;;
    border-color: $bg-darkred;
    box-shadow:none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary.focus, 
.btn-primary:focus {
	box-shadow:none;
}



.btn-primary {
  background-color: $bg-red;
  border: 1px solid #ed1233;

  &:hover {
    background-color: $bg-darkred;
    border-color: $bg-darkred;
  }

  &:focus {
    background-color: $bg-darkred;
    border-color: $bg-darkred;
    color:#fff;
  }

  &:active {
    background-color: $bg-darkred;
    border-color: $bg-darkred;
  }
}

.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
  background-color: $bg-darkred;
  border-color: $bg-darkred;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: $bg-darkred;
}


.btn-outline-primary.disabled, 
.btn-outline-primary:disabled {
    color: $color-red;
}

.btn-outline-primary {
  color: $color-red;
  border-color: $bg-red;
  
  &:hover {

    background-color: $bg-red;
    border-color: $bg-red;
  }
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, 
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,  
.show>.btn-outline-primary.dropdown-toggle:focus,
.btn-outline-primary.focus, 
.btn-outline-primary:focus{
  box-shadow:none;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-primary.dropdown-toggle {
    background-color: $bg-red;
    border-color: $bg-red;
}


.btn-primary,
.btn-secondary,
.btn-outline-primary,
.btn-outline-secondary{
 padding: .375rem 50px; 
}


.btn-outline-primary.text-black{ 
    color: #444444;

    &:hover {color:#fff;}

}


.btn-outline-secondary {
    color: #8c8c8c;
    border-color: #cdcdcd;

    &:hover {
    background-color: $bg-black;
    border-color: $bg-black;
    }
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, 
.btn-outline-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-secondary.dropdown-toggle {
   background-color: #8c8c8c;
   border-color: #8c8c8c;
}
.modal-backdrop.show {
    opacity: .9;
}
.modal-content {
  border:0;
  background-color:transparent;
}

.modal-open .modal {
  -webkit-overflow-scrolling:touch;
}
.modal-header {
  padding:11px 1rem;
  border-top-left-radius: $br-6;
  border-top-right-radius: $br-6;
}

.modal-body, .modal-footer {
  background-color:#fff;
}
.modal-body.rounded-bottom {
  border-bottom-left-radius: $br-6 !important;
  border-bottom-right-radius: $br-6 !important;
}
.modal-footer {
  border-bottom-left-radius: $br-6;
  border-bottom-right-radius: $br-6;
}
.close {
  opacity:1; 
  font-size:inherit;
  &:focus,
  &:hover {opacity:1;}
}

.card-img-bottom {
  border-bottom-right-radius: $br-6;
   border-bottom-left-radius: $br-6;
 }
.text-truncate {max-width:100%;}

.rounded {
    border-radius: $br-6 !important;
}
.rounded-top {
    border-top-left-radius: $br-6!important;
    border-top-right-radius: $br-6!important;
}

.rounded-bottom {
    border-bottom-right-radius: $br-6!important;
    border-bottom-left-radius: $br-6!important;
}

.card-header:first-child {
    border-radius: 6px 6px 0 0;
}

.table-hover tbody tr:hover {
    background-color: rgba(0,0,0,.025);
}

// loader styles start
.loaderMain {
  display:flex;
  align-items:flex-start;
  width:100%;
  width:100vw;
  height:100%;
  height:100vh;
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:1060;
  background-color:#000;
  background-color:rgba(0,0,0,.85);
  //loader should appear above all

  .loader {
    height: 6px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: $bg-darkblack;
      &:before{
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 6px;
        background-color: $bg-red;
        animation: loading 1.5s linear infinite;
      }
  }
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
// loader styles end


// global styles
html,body {height:100%;}

body {
	font-family: $f-Poppins;
	color : #222;
  background-color:#ededed;
  font-weight:$f-regular;
}


 // mixin for box shadow all side
@mixin shadow_trbl {
box-shadow: 2px 1px 17px 0px rgba(50, 50, 50, 0.15);
-webkit-box-shadow: 2px 1px 17px 0px rgba(50, 50, 50, 0.15);
-moz-box-shadow: 2px 1px 17px 0px rgba(50, 50, 50, 0.15);
-ms-box-shadow: 2px 1px 17px 0px rgba(50, 50, 50, 0.15);
 
}

.shadow_allSide {
  @include shadow_trbl;
}


// mixin for circle button
@mixin circle-button {
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.prev-button {
  @include circle-button;
}
.next-button {
  @include circle-button;
}
.check-button {
  @include circle-button;
}

.roundedCircle-button {
  @include circle-button;
}



// mixin for transition start
@mixin transition {
        transition:all .2s ease;
-webkit-transition:all .2s ease;
   -moz-transition:all .2s ease;
}
.transition {
  @include transition
}
// mixin for transition end

// mixin for rounded white card
@mixin rounded-white {
        border-radius:$br-6;
        background:#fff;
}
.QuickViewKitsBox {
  @include rounded-white;
}
// mixin for rounded white card end


.head-mid-gray{
  font-size:14px;
  color:$color-mid-gray;
  font-weight:$f-semibold;
  margin-bottom:10px;
}

.heading-rounded {
  font-size: 13px;
  font-weight: 500;
  padding: 7px 15px;
}


/*show ecclipses when text overflow*/
.limit-textoverflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: inline-block;
  }
/*show ecclipses when text overflow end*/

// custom bg colors
.bg-dark-black {
  background-color: $bg-darkblack;
}

.bg-black {
  background-color: $bg-black;
}

.bg-red {
  background-color: $bg-red;
}

.bg-gold {
  background-color: $bg-gold;
}
.bg-light-gray {
  background-color:$bg-light-gray;
}
.bg-mid-gray {
  background-color:$bg-mid-gray;
}


// custom text colors
.color-dark-black {
  color: $color-darkblack;
}

.color-black {
  color: $color-black;
}

.color-red {
  color: $color-red;
}

.color-gold {
  color: $color-gold;
}

.color-mid-gray {
  color: $color-mid-gray
}




// label animated input 

.label-static {
  font-size: 13px;
  color: #808080;
}
.input_animated {
  font-size: 18px;
  height: 50px;
  padding-left:10px;
  padding-right:10px;
  border: 1px solid #e3e3e3;
  border-radius:$br-4;
  width: 100%;
  background-color:transparent;
  background: rgba(0, 0, 0, 0);
  overflow-x: hidden;
     appearance:none;
    -webkit-appearance:none;
       -moz-appearance:none;
  // Hack to make "rows" attribute apply in Firefox.
}

.input_animated+label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top: 0px solid #dae2e3;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  height: 0px;
}

.input_animated:focus+label>span,
.input_animated.input-autofill+label span {
  top: -70px;
  font-size: 13px;
  color: #808080;
  left: 0;
}

.input_animated+label>span {

  margin: 0;
  position: absolute;
  color: #808080;
  font-size: 15px;
  top: -36px;
  left: 10px;
  z-index: -1;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease;
}


.input_animated:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}


//customizing malihu-scrollbar start
.customScroll {
  .mCSB_scrollTools {
  width:4px;
  }

  .mCSB_inside > .mCSB_container {
  margin-right: 5px;
  }

  .mCSB_scrollTools .mCSB_draggerRail {
  width:4px;
  background-color:#d6d6d6;
  } 

  .mCSB_dragger .mCSB_dragger_bar {
  width:4px;
 
  }
  .mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 4px;
   background-color:#a8a8a8;
  }
}

//customizing malihu-scrollbar end

// custom checkbox start
input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

    +label.css-label {
      padding-left: 23px;
      height: 20px;
      display: inline-block;
      line-height: 20px;
      background-repeat: no-repeat;
      background-position: 0 0;
      vertical-align: middle;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: url(../images/checkbox-unchecked-gray-20x20.svg);
    }

    &:checked+label.css-label {
      background-image: url(../images/checkbox-checked-red-20x20.svg);
   }

}

input[type=checkbox][checked].css-checkbox + label.css-label {
  background-image: url(../images/checkbox-checked-red-20x20.svg);
}
// custom checkbox end


