@import "reset";
.addStageModal {
  background: red;
  position: relative;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
}

.addStageModal:after {
  position: absolute;
  content: '1920';
  font-size: 30px;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  display: none;

}

@function calculate-width ($col-span) {
    @return 100% / $col-span
}

.span-two {
    width: calculate-width(2); // spans 2 columns, width = 50%
    background-color: pink;
}

.span-three {
    width: calculate-width(4); // spans 3 columns, width = 33.3%
    background-color: yellow;
}
